{% extends "basic.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<style>
   .is-vertical-tabs > ul {
     display: flex;
     flex-direction: column;
     height: 100%;
   }
   .tab-content {
     display: none;
     animation: fadeInLeft .5s;
   }
   .tab-content.is-active {
     display: block;
   }
   /* Custom timeline styles */
   .timeline {
     position: relative;
     padding-left: 20px;
     list-style: none;
   }
   .timeline::before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 10px;
     width: 2px;
     background-color: #e5e5e5;
   }
   .timeline-item {
     margin-bottom: 20px;
   }
   .timeline-marker {
     display: block;
     width: 12px;
     height: 12px;
     background-color: #3273dc;
     border-radius: 50%;
     position: absolute;
     left: 4px;
     top: 0;
   }
   .timeline-content {
     padding-left: 30px;
   }
   .tab-li {
     position: relative;
   }
</style>
{% endblock %}
{% block content %}
<span id="vue-span">
   <section class="section">
      <!-- Swiper -->
      <div class="container">
         <div class="swiper">
            <div class="swiper-container">
               <!-- Additional required wrapper -->
               <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                     <!-- Your Bulma card content -->
                     <div class="card">
                        <div class="card-content">
                           <p class="title">Daily Tips</p>
                           <p class="subtitle">Daily small tips related to interviews</p>
                           <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <!-- Your Bulma card content -->
                     <div class="card">
                        <div class="card-content">
                           <p class="title">Statistics</p>
                           <p class="subtitle">Your ability value and growth progress</p>
                           <img src=""/>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination"></div>
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="container">
         <div class="columns">
            <!-- Left column with two cards -->
            <div class="column is-4">
               <!-- Card 1 -->
               <div class="card mb-4">
                  <div class="card-content">
                     <p class="title">Recommend</p>
                     <!-- Card content -->
                  </div>
               </div>
               <!-- Card 2 -->
               <div class="card mb-4">
                  <div class="card-content">
                     <p class="title">Algorithm</p>
                     <!-- Card content -->
                  </div>
               </div>
               <!-- Card 3 -->
               <div class="card mb-4">
                  <div class="card-content">
                     <p class="title">System Design</p>
                     <!-- Card content -->
                  </div>
               </div>
               <!-- Card 4 -->
               <div class="card">
                  <div class="card-content">
                     <p class="title">Behavioral Question</p>
                     <!-- Card content -->
                  </div>
               </div>
            </div>
            <!-- Right column with the timeline -->
            <div class="column">
               <ul class="timeline">
                  <!-- Timeline item 1 -->
                  <li class="timeline-item">
                     <div class="timeline-marker"></div>
                     <div class="timeline-content">
                        <div class="card">
                           <div class="card-content">
                              <span class="tag is-info top">New</span>
                              <div class="content is-flex is-justify-content-space-between is-align-items-center">
                                 <div>
                                    <h2 class="title is-size-5 mb-1">Binary tree</h2>
                                    <span class="is-size-6">HIGH</span>
                                 </div>
                              </div>
                              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                                 <p class="mb-0 is-size-6" >Estimated time</p>
                                 <span class="tag is-success is-light">60 minutes</span>
                              </div>
                              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                                 <p class="mb-0 is-size-6">Content</p>
                                 <span class="tag is-success is-light">5 questions</span>
                              </div>
                           </div>
                           <div class="card-footer">
                              <div class="card-footer-item" style="width: 100%;">
                                 <div class="is-flex is-justify-content-space-between is-align-items-center" style="width: 100%;">
                                    <a class="button is-link ml-auto" href="#">Start</a>
                                 </div>
                              </div>
                           </div>
                           <!-- end card-footer -->
                        </div>
                        <!-- end card -->
                     </div>
                  </li>
                  <!-- Timeline item 2 -->
                  <li class="timeline-item">
                     <div class="timeline-marker"></div>
                     <div class="timeline-content">
                        <div class="card">
                           <div class="card-content">
                              <p class="title is-4">Binary Search</p>
                              <p class="subtitle is-6">15 minutes</p>
                              <!-- More content here -->
                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- Timeline item 3 -->
                  <li class="timeline-item">
                     <div class="timeline-marker"></div>
                     <div class="timeline-content">
                        <div class="card">
                           <div class="card-content">
                              <p class="title is-4">Merge Sort</p>
                              <p class="subtitle is-6">20 minutes</p>
                              <!-- More content here -->
                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- Timeline item 4 -->
                  <li class="timeline-item">
                     <div class="timeline-marker"></div>
                     <div class="timeline-content">
                        <div class="card">
                           <div class="card-content">
                              <p class="title is-4">Dynamic Programming</p>
                              <p class="subtitle is-6">30 minutes</p>
                              <!-- More content here -->
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>
</span>
{% endblock %}
{% block extra_script %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script>
   var root = '{{ root }}';
   const config = {
     headers: {
       'Content-Type': 'application/json',
       'X-CSRFToken': csrfToken,
     },
   };
   var app = new Vue({
     delimiters: ['[[', ']]'],
     el: '#vue-span',
     data () {
     },
     mounted () {
     },
     methods: {
     }
   })
   var mySwiper = new Swiper('.swiper-container', {
     direction: 'horizontal',
     loop: true,
     slidesPerView: 1,
     pagination: {
       el: '.swiper-pagination',
     },
   
     navigation: {
       nextEl: '.swiper-button-next',
       prevEl: '.swiper-button-prev',
     },
   });
</script>
{% endblock %}
