{% extends "basic.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href={% static 'css/codeeditor.min.css' %}> </link>
<style>
        .CodeMirror {
            border: 1px solid black;
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
<script src={% static 'js/codeeditor.min.js' %}></script>
<script src={% static 'js/marked.min.js' %}></script>
<span id="vue-span">
  <section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-6">
        <div class="card custom-card">
          <div class="card-content">
            <div class="content">
              <p class="title has-text-centered">[[ question.name ]]</p>
              <div class="tabs is-centered">
                <ul>
                  <li class="is-active">
                    <a>
                      <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                      <span>Before</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                      <span>During</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
                      <span>After</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div v-html="renderedMarkdown"></div>
          </div>
          </div> <!-- end card content -->
        </div> <!-- end card -->
      </div> <!-- end column -->
      <div class="column is-6">
        <textarea id="editor">
var findMedianSortedArrays = function(nums1, nums2) {
    let n1 = nums1.length;
    let n2 = nums2.length;
    
    let l = 0;
    let r = n1;
    while (l <= r) {
        let mid1 = Math.floor((l + r) / 2);
        let mid2 = Math.floor((n1 + n2 + 1) / 2 - mid1);
        if (maxLeft1 <= minRight2 && maxLeft2 <= minRight1) {
            if ((n1 + n2) % 2 == 0) {
                return (Math.max(maxLeft1, maxLeft2) + Math.min(minRight1, minRight2)) / 2;
            } else {
                return Math.max(maxLeft1, maxLeft2);
            }
        } else if (maxLeft1 > minRight2) {
            r = mid1 - 1;
        } else {
            l = mid1 + 1;
        }
    }
    
    return -1;
};
        </textarea>
        <br>
        <button class="button is-dark">Text Hint</button>
        <button class="button is-dark">Code Hint</button>
        <button class="button is-dark">Submit</button>
      </div>
    </div>
  </div> <!-- end container -->
  </section>
</span>
{% endblock %}
{% block extra_script %}
  <script>
     var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
       lineNumbers: true,
       mode: "javascript"
     });
  </script>
  <script>
    var root = '{{ root }}';
    const question_name = '{{ question_name }}';
    const category_name = '{{ category_name }}';
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-span',
      data () {
        return {
           root: root,
           question: null,
        }
      },
      mounted () {
        axios.get(root + '/api/coding/?name=' + question_name + '&category=' + category_name)
          .then(response => {
              this.question = response.data[0];
              console.log(this.question.begin);
          })
          .catch()
      },
      computed: {
        renderedMarkdown() {
          return marked.parse(this.question.begin);
        }
      }
    })
  </script>
{% endblock %}
