{% extends "basic.html" %}
{% load static %}

{% block content %}
    <section class="hero is-halfheight has-text-centered front-section">
        <div class="hero-body">
            <div class="container has-text-left">
                <p class="has-text-weight-bold">
                    评测题目
                </p>
                <hr>
                <div class="v7_563">
                    <ol>
                        <li>求单链表中当前结点的后继和前驱的时间复杂度分别是：<br>&nbsp;A. O(N) 和 O(1)<br>&nbsp;B.
                                O(1) 和 O(1)<br>&nbsp;C. O(1) 和 O(N)<br>&nbsp;D. O(N) 和 O(N)<br>&nbsp;E. 不知道<br>
                        </li>
                        <li>
                            <p>堆的形状是一颗：<br>&nbsp;A. 二叉排序树<br>&nbsp;B. 满二叉树<br>&nbsp;C.
                                完全二叉树<br>&nbsp;D. 平衡二叉树<br>&nbsp;E. 不知道<br></p>
                        </li>
                        <li>
                            <p>栈和队列的共同点是：<br>&nbsp;A. 都是先进先出<br>&nbsp;B. 都是先进后出<br>&nbsp;C.
                                只允许在端点处插入和删除元素<br>&nbsp;D. 没有共同点<br>&nbsp;E. 不知道<br></p>
                        </li>
                        <li>
                            <p>树最合适用来表示：<br>&nbsp;A. 有序数据元素<br>&nbsp;B. 无序数据元素<br>&nbsp;C.
                                元素之间具有分支层次关系的数据<br>&nbsp;D. 元素之间无联系的数据<br>&nbsp;E. 不知道<br></p>
                        </li>
                        <li>
                            深度优先遍历类似于二叉树的<br>&nbsp;A.&nbsp;先序遍历<br>&nbsp;B. 中序遍历<br>&nbsp;C.
                                后序遍历<br>&nbsp;D. 层次遍历<br>&nbsp;E. 不知道<br>
                        </li>
                    </ol>

                </div>
            </div>
    </section>
{% endblock %}
