{% extends "basic.html" %}

{% block content %}
<section class="hero is-halfheight has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="front-title is-size-title has-text-link has-text-weight-bold">
        Enjoy your practice <br> and learn together
      </p>
      <hr>
      <p class="front-subtitle is-size-4 has-text-weight-light">
      Use efficient practice methods to quickly improve your ability, <br>
      join our community to learn and share knowledge with everyone.
      </p>
      <a href="{% url 'account_signup' %}" class="button is-dark is-large">
        <strong>Sign up</strong>
      </a>
    </div>
  </div>
</section>
<br>
<section>
<div class="container">
  <div class="columns">
    <div class="column">
      <p class="title">Personalized Learning</h2>
      <h4>You can understand your shortcomings at any time, and the platform will automatically recommend questions suitable for your level of difficulty.</h4>
    </div>
    <div class="column">
      <p class="title">Collaborative Learning</h2>
      <h4>Learning knowledges from each others</h4>
    </div>
    <div class="column">
      <p class="title">Project base Learning</h2>
      <h4>Learning by building a project together</h4>
    </div>
  </div>
</div>
</section>

{% endblock %}
