{% extends "basic.html" %}
{% load socialaccount %}

{% block content %}
<section class="hero is-link is-halfheight has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Education-X
      </p>
      <p class="subtitle">
        a new gernation learning platform
      </p>
    </div>
  </div>
</section>
<br>
<section>
<div class="container">
  <div class="columns">
    <div class="column">
      <p class="title">Adative Learning</h2>
      <h4>Recommend questions according to your level</h4>
    </div>
    <div class="column">
      <p class="title">Collaborative Learning</h2>
      <h4>Learning knowledges from each others</h4>
    </div>
    <div class="column">
      <p class="title">Project base Learning</h2>
      <h4>Learning by building a project together</h4>
    </div>
  </div>
</div>
</section>
{% endblock %}
