{% extends "basic.html" %}
{% load static %}

{% block content %}
<span id="vue-span">
  <section class="blog">
    <div class="container">
      <h1 class="mt-10 mb-10 title is-size-2-mobile is-size-3-tablet" style="letter-spacing: -0.04em;">Tips</h1>
      <div class="has-mw-5xl mx-auto has-text-centered">
        <p class="is-size-5-mobile is-size-4-tablet mb-10">
          <span>“KW70 Fix is a leading real estate investment firm in the World, headquartered in New York with offices in</span>
          <span></span>
          <span class="text-secondary-light">London, Chicago, Barcelona, Vienna, Rome, Las Vegas.</span>
          <span>KW70 Fix looks for markets and locations that have strong fundamental drivers such as job and income growth, better quality of life and a business-friendly environment. In those carefully selected”</span>
        </p>
        <div class="is-flex mb-16 is-align-items-center has-text-left is-justify-content-center">
          <div>
            <span class="is-block has-text-weight-medium">Wade Warren</span>
            <span class="is-block fs-9 text-secondary-light">CEO, Since Industry</span>
          </div>
        </div>
      </div>
    </div> <!-- end container -->
  </section>
  <section class="section">
    <div class="container">
      <h1 class="mt-10 mb-10 title is-size-2-mobile is-size-3-tablet" style="letter-spacing: -0.04em;">Practice</h1>
      <div class="columns is-multiline">
        <div class="column is-3-desktop is-6-tablet" v-for="(task, index) in new_task_lst">
          <div class="card p-3">
            <div class="card-content">
              <span class="tag is-info top">New</span>
              <div class="content is-flex is-justify-content-space-between is-align-items-center">
                <div>
                  <h2 class="title is-size-5 mb-1">[[ task.category ]]</h2>
                  <span class="is-size-6">[[ task.practice_method ]]</span>
                </div>
              </div>
              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                <p class="mb-0 is-size-6" >Estimated time</p>
                <span class="tag is-success is-light">60 minutes</span>
              </div>
              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                <p class="mb-0 is-size-6">Content</p>
                <span class="tag is-success is-light">5 questions</span>
              </div>
            </div>
            <div class="card-footer">
              <div class="card-footer-item" style="width: 100%;">
                <div class="is-flex is-justify-content-space-between is-align-items-center" style="width: 100%;">
                  <a class="button is-link ml-auto" href="#">Start</a>
                </div>
              </div>
            </div> <!-- end card-footer -->
          </div> <!-- end card -->
        </div> <!-- end column -->
      <div class="column is-3-desktop is-6-tablet" v-for="(task, index) in review_task_lst">
          <div class="card p-3">
            <div class="card-content">
              <span class="tag is-warning top">Review</span>
              <div class="content is-flex is-justify-content-space-between is-align-items-center">
                <div>
                  <h2 class="title is-size-5 mb-1">[[ task.category ]]</h2>
                  <span class="is-size-6">[[ task.practice_method ]]</span>
                </div>
              </div>
              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                <p class="mb-0 is-size-6" >Estimated time</p>
                <span class="tag is-success is-light">60 minutes</span>
              </div>
              <div class="content mb-1 is-flex is-justify-content-space-between is-align-items-center">
                <p class="mb-0 is-size-6">Content</p>
                <span class="tag is-success is-light">5 questions</span>
              </div>
            </div>
            <div class="card-footer">
              <div class="card-footer-item" style="width: 100%;">
                <div class="is-flex is-justify-content-space-between is-align-items-center" style="width: 100%;">
                  <a class="button is-link ml-auto" href="#">Start</a>
                </div>
              </div>
            </div> <!-- end card-footer -->
          </div>
        </div> <!-- end card -->
      </div> <!-- end column -->
     </div>  <!-- end columns -->
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="mt-10 mb-10 title is-size-2-mobile is-size-3-tablet" style="letter-spacing: -0.04em;">Questions</h1>
      <div class="box px-0">
        <div class="px-5 mb-4">
          <div class="columns">
            <div class="column is-3">
              <div class="control has-icons-left">
                <div class="select is-fullwidth">
                  <select>
                    <option>Beginner</option>
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                    <option>Expert</option>
                    <option>All</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </div> <!-- end control -->
            </div> <!-- end column -->
            <div class="column is-3">
              <div class="control has-icons-left">
                <div class="select is-fullwidth">
                  <select>
                    <option v-for="(category, index) in category_lst">[[ category.name ]]</option>
                    <option>All</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </div> <!-- end control -->
            </div> <!-- end column -->
            <div class="column is-3">
              <div class="control has-icons-left">
                <div class="select is-fullwidth">
                  <select>
                    <option>Amazon</option>
                    <option>Google</option>
                    <option>Meta</option>
                    <option>TikTok</option>
                    <option>All</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </div> <!-- end control -->
            </div> <!-- end column -->
          </div>
        </div>
      </div>
        
        <div class="table-container mb-0">
          <table class="table is-striped is-fullwidth is-size-7 mb-0">
            <thead>
              <tr>
                <th class="px-5 py-3 has-text-grey">Name</th>
                <th class="px-5 py-3 has-text-grey">Category</th>
                <th class="px-5 py-3 has-text-grey">Diffculty</th>
                <th class="px-5 py-3 has-text-grey">Type</th>
                <th class="px-5 py-3 has-text-grey">Progress</th>
                <th class="px-5 py-3 has-text-grey">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(question, index) in question_lst">
                <td class="px-5 py-4">
                  <div class="is-flex is-align-items-center">
                    <div>
                      <p class="is-size-6 py-1 has-text-weight-medium">[[ question.solution_name ]] </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-4">
                  <span class="tag is-success is-success">[[ question.category_name ]]</span>
                </td>
                <td class="px-5 py-4">
                  <p class="is-size-6 has-text-weight-medium">[[ question.diffculty ]]</p>
                </td>
                <td class="px-5 py-4">
                  <p class="is-size-6 has-text-weight-medium">[[ question.qtype ]]</p>
                </td>
                <td class="px-5 py-4">
                  <progress class="progress" value="55" max="100">15%</progress>
                </td>
                <td class="px-5 py-4">
                  <p class="is-size-6 has-text-weight-medium">5 times in last one year</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="columns">
        <div class="column is-flex is-justify-content-flex-end">
          <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list" style="font-size: 12px;">
              <li>
                <a class="pagination-link has-background-white" href="#" aria-label="previous">
                </a>
              </li>
              <li><a class="pagination-link has-has-background-white" href="#" aria-label="page 1">1</a></li>
              <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">2</a></li>
              <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">3</a></li>
              <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">4</a></li>
              <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">5</a></li>
              <li>
                <a class="pagination-link has-background-white" href="#" aria-label="next">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
    </span>
</span>
{% endblock %}
{% block extra_script %}
  <script>
    var root = '{{ root }}';
    const config = {
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken,
      },
    };
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-span',
      data () {
        return {
           root: root,
           new_task_lst: [],
           review_task_lst: [],
           question_lst: [],
           category_lst: [],
        }
      },
      mounted () {
        axios.post(root + '/api/gen_task/', {}, config)
          .then(response => {
            // handle success
            axios.get(root + '/api/task/?state=New&count=3')
              .then(response => {
                // handle success
                this.new_task_lst = response.data;
              })
            axios.get(root + '/api/task/?state=Review&count=1')
              .then(response => {
                this.review_task_lst = response.data;
              })

          })
        axios.get(root + '/api/question/?type=All')
          .then(response => {
            this.question_lst = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
          .finally(function () {
          });
        axios.get(root + '/api/category/')
          .then(response => {
            this.category_lst = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
          .finally(function () {
          });
      }
    })
  </script>
{% endblock %}
