{% extends "basic.html" %}
{% load static %}

{% block content %}
<span id="vue-span">
  <section class="hero is-medium is-link">
    <div class="hero-body">
      <p class="title">
        Algorithm Quiz
      </p>
      <p class="subtitle">
        We learn from the fitness industry that by training on some questions slightly above your current level, you can achieve the best training effect. Spend ten minutes to complete these multiple-choice questions, which will help us better understand your proficiency.
      </p>
      <button class="button is-white">Start For Free</button>
    </div>
  </section>
  <section class="section">
  <div class="container">
    <p class="title">Recommend For You</p>
    <div class="columns">
      <div class="column is-3" v-for="(task, index) in new_tasks">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by3">
                <img src="{% static  'imgs/profit.png' %}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title has-text-centered">[[ task.state ]]</p>
                <p class="subtitle has-text-centered has-text-grey">[[ task.method ]]</p>
                <p class="subtitle has-text-centered has-text-grey">[[ task.category ]]</p>
                <br>
                <button class="button is-dark is-fullwidth">Start</button>
              </div>
            </div> <!-- end media -->
          </div> <!-- end card content -->
        </div> <!-- end card -->
      </div> <!-- end column -->
      <div class="column is-3" v-for="(task, index) in old_tasks">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by3">
                <img src="{% static  'imgs/profit.png' %}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title has-text-centered">[[ task.state ]]</p>
                <p class="subtitle has-text-centered has-text-grey">[[ task.method ]]</p>
                <p class="subtitle has-text-centered has-text-grey">[[ task.category ]]</p>
                <br>
                <button class="button is-dark is-fullwidth">Start</button>
              </div>
            </div> <!-- end media -->
          </div> <!-- end card content -->
        </div> <!-- end card -->
      </div> <!-- end column -->
    </div> <!-- end columns -->
  </div>
  </section>

      <section class="section">
        <div class="container">
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="box p-5">
              <div class="columns is-multiline is-vcentered is-justify-content-space-between">
                <div class="column is-12-touch">
                  <div class="is-flex is-align-items-center">
                    <img class="mr-3 image is-cover is-48x48" style="border-radius: 50% !important;" src="https://images.unsplash.com/photo-1595152452543-e5fc28ebc2b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="alt">
                    <div>
                      <p class="is-size-6 has-text-weight-bold">John Smith</p>
                      <p class="is-size-7 has-text-grey">john@shuffle.dev</p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <span class="tag is-primary is-light" href="#">Marketing</span>
                </div>
                <div class="column">
                  <span class="is-size-6 has-text-weight-bold">Shuffle</span>
                </div>
                <div class="column">
                  <div class="-mb-1 is-flex"><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Marketing</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Advertising</a><a class="button mb-1 mr-2 has-text-weight-normal" href="#">Sales</a><a class="button mb-1 has-text-weight-normal" href="#">+2</a></div>
                </div>
                <div class="column">
                  <div class="is-flex is-align-items-center is-justify-content-flex-end">
                    <a class="button p-0 is-info is-light mr-3 is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                    <a class="button p-0 is-info is-light is-flex is-justify-content-center is-align-items-center" style="width: 32px; height: 32px" href="#">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="is-flex is-align-items-center">
                <p class="is-size-7 has-text-grey-light">Show</p>
                <div class="select is-small mx-3">
                  <select class="has-background-white" aria-label="Select example">
                    <option value="1">9</option>
                    <option value="2">18</option>
                    <option value="3">36</option>
                  </select>
                </div>
                <p class="is-size-7 has-text-grey-light">of 1200</p>
              </div>
            </div>
            <div class="column is-flex is-justify-content-flex-end">
              <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list" style="font-size: 12px;">
                  <li>
                    <a class="pagination-link has-background-white" href="#" aria-label="previous">
                    </a>
                  </li>
                  <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">1</a></li>
                  <li>
                    <a class="pagination-link has-background-white" href="#" aria-label="previous">
                    </a>
                  </li>
                  <li class="is-hidden-mobile"><a class="pagination-link has-background-white" href="#" aria-label="page 1">12</a></li>
                  <li class="is-hidden-mobile"><a class="pagination-link has-background-white" href="#" aria-label="page 1">13</a></li>
                  <li class="is-hidden-mobile"><a class="pagination-link has-background-white" href="#" aria-label="page 1">14</a></li>
                  <li class="is-hidden-mobile">
                    <a class="pagination-link has-background-white" href="#" aria-label="previous">
                    </a>
                  </li>
                  <li><a class="pagination-link has-background-white" href="#" aria-label="page 1">62</a></li>
                  <li>
                    <a class="pagination-link has-background-white" href="#" aria-label="next">
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </span>
</span>
{% endblock %}
{% block extra_script %}
  <script>
    var root = '{{ root }}';
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-span',
      data () {
        return {
           root: root,
           new_tasks: [],
           old_tasks: [],
           question_lst: [],
        }
      },
      mounted () {
        axios.get(root + '/api/task_info/?state=new&count=3')
          .then(response => {
            // handle success
            this.new_tasks = response.data;
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .finally(function () {
            // always executed
          });
        axios.get(root + '/api/task_info/?state=old&count=1')
          .then(response => {
            this.old_tasks = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
          .finally(function () {
          });
        axios.get(root + '/api/question/')
          .then(response => {
            this.question_lst = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
          .finally(function () {
          });
      }
    })
  </script>
{% endblock %}
