.timeline {
  position: relative;
  padding-left: 20px;
  list-style: none;
}
.card.mb-4 {
  cursor: pointer;
}

.card .card-content .tag {
  font-size: 0.8rem;
}

.practice-progress {
  width: 50%;
  background-color: #257953;
}

.bd-hr-p {
    background-color: hsl(171, 100%, 41%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-l {
    background-color: hsl(217, 71%, 53%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-s {
    background-color: hsl(141, 71%, 48%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-w {
    background-color: hsl(48, 100%, 67%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.dropdown-menu {
    min-width: 20rem;
}

.problem-card {
  min-height: 15rem;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
}

.max-width-20 {
  max-width: 20%;
}

.tag-container {
    margin-bottom: 5px;
    border: none !important;
}
