.timeline {
  position: relative;
  padding-left: 20px;
  list-style: none;
}
.card.mb-4 {
  cursor: pointer;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 2px;
  background-color: #e5e5e5;
}
.timeline-item {
  margin-bottom: 20px;
}
.timeline-marker {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #3e8ed0;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 0;
}
.timeline-content {
  padding-left: 30px;
}

.card .card-content .tag {
  font-size: 0.8rem;
}

.practice-progress {
  width: 50%;
  background-color: #257953;
}


.bd-hr-p {
    background-color: hsl(171, 100%, 41%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-l {
    background-color: hsl(217, 71%, 53%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-s {
    background-color: hsl(141, 71%, 48%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.bd-hr-w {
    background-color: hsl(48, 100%, 67%);
    border-radius: 9999px;
    height: .25rem;
    width: 10rem;
}

.dropdown-menu {
    min-width: 20rem;
}
