{% extends "basic.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/codeeditor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/problem.css' %}" />
{% endblock %}
{% block content %}
<span id="vue-span">
  <section class="section"> <!-- start section -->
    <div class="container is-fluid"> <!-- start container -->
      <div class="columns"> <!-- start columns -->
        <!-- Problem Description Column -->
        <div class="column is-6"> <!-- start column is-6 -->
          <div class="card"> <!-- start card -->
            <div class="card-content"> <!-- start card-content -->
              <p class="title has-text-centered" v-if="problem">[[ problem.name ]]</p>
              <div class="content render-markdown mb-6" v-if="problem && problem.desc" v-html="renderMarkdown(problem.desc.text)"></div>
              <!-- Bulma Messages -->
              <article class="message" v-for="(message, index) in messages" :key="index">
                <div class="message-header" @click="toggleMessage(index)">
                  <p>[[ message.title ]]</p>
                  <button class="delete" aria-label="delete" @click.stop="closeMessage(index)"></button>
                </div>
                <div class="message-body" v-show="message.visible">
                  [[ message.body ]]
                </div>
              </article>
            </div> <!-- end card-content -->
          </div> <!-- end card -->
        </div> <!-- end column is-6 -->
        <div class="column is-6">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title is-centered" style="width: 100%; justify-content: center;">
                Excellent Interviewee
              </p>
            </header>
            <div class="card-content">
              <!-- Tabs for Understand, Analyze, Implement -->
              <div class="tabs is-centered">
                <ul>
                  <li :class="{'is-active': activeTab === 'understand'}">
                    <a @click="setActiveTab('understand')">
                      <span class="icon is-small"><i class="fas fa-lightbulb" aria-hidden="true"></i></span>
                      Understand
                    </a>
                  </li>
                  <li :class="{'is-active': activeTab === 'analyze'}">
                    <a @click="setActiveTab('analyze')">
                      <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
                      Analyze
                    </a>
                  </li>
                  <li :class="{'is-active': activeTab === 'implement'}">
                    <a @click="setActiveTab('implement')">
                      <span class="icon is-small"><i class="fas fa-tools" aria-hidden="true"></i></span>
                      Implement
                    </a>
                  </li>
                  <li :class="{'is-active': activeTab === 'review'}">
                    <a @click="setActiveTab('review')">
                      <span class="icon is-small"><i class="fas fa-clipboard-check" aria-hidden="true"></i></span>
                      Review
                    </a>
                  </li>
                  <li :class="{'is-active': activeTab === 'other'}">
                    <a @click="setActiveTab('other')">
                      <span class="icon is-small"><i class="fas fa-clipboard-check" aria-hidden="true"></i></span>
                      Others
                    </a>
                  </li>
                </ul>
              </div> <!-- end tabs -->
            </div> <!-- end card-content -->
          </div> <!-- end card -->
        </div> <!-- end column is-6 -->
      </div> <!-- end columns -->
    </div> <!-- end container -->
  </section> <!-- end section -->
</span>
{% endblock %}
{% block extra_script %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/codeeditor.min.js' %}"></script>
<script src="{% static 'js/marked.min.js' %}"></script>
<script>
  var root = "{{ root }}";
  const path_array = window.location.pathname.split("/");
  const problem_name = path_array.filter((part) => part.length > 0).pop();
  const type = "understand";
</script>
<script src="{% static 'js/app/problem.js' %}"></script>
{% endblock %}
