<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>Education-X</title>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/regular.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar py-2">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
              <img src="{% static 'imgs/logo_small.png' %}" alt="small logo"><p class="has-text-weight-bold is-size-5">&nbsp&nbspNLOGK</p>
          </a>
          <div class="navbar-item ml-auto is-hidden-desktop">
            <button class="button is-ghost navbar-menu-open">
              <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z" fill="#000"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-size-6" aria-current="page" href="/">Home</a><a class="navbar-item is-size-6" href="/practice">Practice</a>
          </div>

          <div class="navbar-end">
            {% if user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ user.username }}
               </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{% url 'account_logout' %}">
                  Logout
                </a>
              </div>
            {% else %}
            <div class="navbar-item is-right">
              <div class="buttons"><a class="button is-ghost has-text-dark has-text-weight-bold" href="{% url 'account_login' %}">Log In</a></div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  {% block content %}
  {% endblock %}

  <script src="{% static 'js/vue.min.js' %}"></script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script>
    function getCookie(name) {
      let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
      return cookieValue;
    }
  </script>
  {% block extra_script %}
  {% endblock %}
  <footer class="section">
    <div class="container pb-5 has-text-centered">
      <a class="mx-auto mb-4 is-inline-block" href="#">
        <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
      </a>
      <ul class="mb-4 is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
        <li><a class="button is-white" href="#">About</a></li>
        <li><a class="button is-white" href="#">Company</a></li>
        <li><a class="button is-white" href="#">Services</a></li>
        <li><a class="button is-white" href="#">Testimonials</a></li>
      </ul>
    </div>
    <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
    <div class="container">
      <p class="has-text-centered">All rights reserved © Education Victory, LLC 2023</p>
    </div>
  </footer>
  </body>
  {% block footer %}
  {% endblock %}
</html>
