<!DOCTYPE html>
{% load static %}
{% load socialaccount %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>Education-X</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bulma0.9.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Education Victory</strong>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Practice
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'practice' %}" class="navbar-item">
            Algorithms
          </a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          {% if user.is_authenticated %}
            {{ user.username }}
          {% else %}
          <div class="buttons">
            <a href="{% url 'account_signup' %}" class="button is-dark">
              <strong>Sign up</strong>
            </a>
            <a href="{% url 'account_login' %}" class="button is-light">
              Sign in
            </a>
          {% endif %}
          </div> <!-- end buttons -->
        </div> <!-- end navbar-item -->
      </div> <!-- end navbar-end -->
    </nav>

  {% block content %}
  {% endblock %}

  <script src="{% static 'js/vue.min.js' %}"></script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <script>
    function getCookie(name) {
      let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
      return cookieValue;
    }
  </script>
  {% block extra_script %}
  {% endblock %}
  <footer class="section">
    <div class="container pb-5 has-text-centered">
      <a class="mx-auto mb-4 is-inline-block" href="#">
        <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
      </a>
      <ul class="mb-4 is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
        <li><a class="button is-white" href="#">About</a></li>
        <li><a class="button is-white" href="#">Company</a></li>
        <li><a class="button is-white" href="#">Services</a></li>
        <li><a class="button is-white" href="#">Testimonials</a></li>
      </ul>
      <div>
        <a class="mr-4 is-inline-block" href="#">
          <img src="bulma-plain-assets/socials/facebook.svg">
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <img src="bulma-plain-assets/socials/twitter.svg">
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <img src="bulma-plain-assets/socials/github.svg">
        </a>
        <a class="mr-4 is-inline-block" href="#">
          <img src="bulma-plain-assets/socials/instagram.svg">
        </a>
        <a class="is-inline-block" href="#">
          <img src="bulma-plain-assets/socials/linkedin.svg">
        </a>
      </div>
    </div>
    <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
    <div class="container">
      <p class="has-text-centered">All rights reserved © Education Victory, LLC 2023</p>
    </div>
  </footer>
  </body>
  {% block footer %}
  {% endblock %}
</html>
